.brandsSection{
    padding: 50px 0;

    @media screen and (max-width: 500px) {
        padding: 20px 0;
    }
}

.brandsList{
    display: flex;
    justify-content: space-between;
}

.brandsList li svg{
    width: 100px;
    height: 100px;
    transition: 200ms linear;

    @media screen and (max-width: 1170px) {
        width: 70px;
        height: 70px;
    }

    @media screen and (max-width: 500px) {
        width: 40px;
        height: 40px;
    }
}


.brandsList li:hover svg{
    scale: 1.2;
}