.detailsList{
    display: flex;
    gap: 30px;
    font-size: 20px;
    padding: 50px 0;

    @media screen and (max-width: 550px) {
        font-size: 16px;
        gap: 20px;
    }

    @media screen and (max-width: 550px) {
        gap: 10px;
    }
}

.keysList{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.keyItem{
    display: flex;
    align-items: center;
    height: 40px;

}

.span{
    display: flex;
    width: 10px;
    height: 40px;
    background-color: inherit;
    border-bottom: 1px solid black;
    transform: translateY(-18px);
}


