.CategorySelectContainer{
    background-color: #F0F0F0;
    border-radius: 20px;
    padding: 40px;
}

.CategorySelectList{
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
        flex-direction: column;
        gap: 20px;
    }
}

.CategorySelectItem{
    display: flex;
    border-radius: 10px;
    width: 30%;
    height: 550px;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-color: white;
    padding: 20px;

    cursor: pointer;
    transition: 200ms linear;

    @media screen and (max-width: 900px) {
        width: 100%;
        height: 150px;
    }

    @media screen and (max-width: 900px) {
        height: 100px;
        background-position: 100% 50%;
        background-size: 30%;
        align-items: center;
    }

    @media screen and (max-width: 600px) {
        padding: 10px;
    }

    @media screen and (max-width: 380px) {
        background: none;
    }
}

.CategorySelectItem:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    scale: 1.01;
}

.CategorySelectItem:first-child{
    background-image: url('http://localhost:3000/rob.co/static/media/hero.4634d739f229087cc8fd.png');
}

.CategorySelectItem:nth-child(2n){
    background-image: url('https://content2.rozetka.com.ua/goods/images/big/415700887.jpg');
    background-position: 50% 80%;
    @media screen and (max-width: 900px) {
        background-position: 100% 50%;
    }

    @media screen and (max-width: 380px) {
        background: white;
    }
}

.CategorySelectItem:nth-child(n+3){
    background-image: url('https://content.rozetka.com.ua/goods/images/big/319305757.jpg');
}

.categoryTitle{
    font-size: 28px;
    display: block;
    margin: 15px 20px;
    font-weight: bold;

    @media screen and (max-width: 1200px) {
        font-size: 24px;
        margin: 10px 15px;
    }

    @media screen and (max-width: 750px) {
        font-size: 20px;
        margin: 5px 10px;
    }

    @media screen and (max-width: 600px) {
        font-size: 16px;
        margin: 5px 5px;
    }
}