.pagWrap{
    display: flex;
    margin-left: auto;
    justify-content: center;
    margin-top: 50px;
    gap: 10px;
}

.pagList{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}

.pageItem{
    width: 40px;
    height: 40px;
    font-size: 16px;
    background-color: rgb(227, 227, 227);
    border-radius: 10px;

    cursor: pointer;
}

.pageItem:hover{
    background-color: rgb(204, 204, 204);
}

.pageActive{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageActive:hover{
    background-color: black;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    gap: 10px;
    padding: 15px 30px;
    transition: 150ms linear;

    cursor: pointer;
}

.button:hover{
    background-color: rgb(238, 238, 238);
}

.button:disabled {
    background-color: rgb(213, 213, 213);
    border-color: rgb(213, 213, 213);
    cursor: not-allowed;
    color: rgb(83, 83, 83);
}