.App {
  text-align: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
}

input {
  outline: none;
}

img {
  display: block;
  /*width: 100%;
    height: auto;*/
}

ul li {
  list-style: none;
}

.container{
  padding: 0 20px;
}

.track{
  background-color: black;
  height: 10px;
  border-radius: 12px;
}

.track-0{
  background-color: rgb(208, 208, 208);
}

.track-2{
  background-color: rgb(208, 208, 208);
}