.mainBtn{
    background-color: black;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 54px;
}

.mainBtn:hover{
    background-color: rgb(30, 30, 30);
}

.showBtn{
    background-color: white;
    color: black;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 24px;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 54px;
    display: block;
    margin: auto;
    margin-top: 50px;
    transition: 150ms linear;
}

.showBtn:hover{
    border-color: black;
}

/* RATING */


.ratingWrap{
    display: flex;
    align-items: center;
}

.starIcon{
    fill: gold;
}

.score{
    margin-left: 8px;
}

.controllerWrap{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.counterWrap{
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 10px 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counterButton{
    background-color: inherit;
    font-size: 20px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.counterValue{
    font-size: 24px;
    font-weight: bold;
}
